

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 40px;
    font-size: 18px;
    background-color: rgb(238, 220, 194);
}

.navlinks{
    display: flex;
    gap: 12px;
}

.navlinks a {
    color: black;
    text-decoration: none;
}

ul{
    list-style-type :none;
}

.circular {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.profile {
    display: flex;
    flex-direction: column; /* THIS stacks image above text */
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap: 20px; /* nice spacing */
    background-color: rgb(241, 241, 239);
    padding-bottom: 40px;
}


.intro {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 28px; /* optional */
    font-weight: 600; /* optional */
     background-color: rgb(241, 241, 239);
}


.about {
    text-align: center;
    max-width: 600px; /* limits width for good readability */
    line-height: 1.5;
    font-size: 18px;
}

.socials {
    text-decoration: none;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.alinks img {
    width: 30px;
    height: 30px;
}

.skill {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 40px;
}

.icon{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
}

.icon img{
    height: 30px;
    width: 30px;
}

.projects{
    background-color: rgb(241, 241, 239);
    
}

.title {
    text-align: center;
}

.name {
    text-align: center;
    padding-top: 20px;
}