*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: blanchedalmond;
}

.navlinks{
    display: flex;
    gap: 12px;
}

.navlinks a {
    color: black;
    text-decoration: none;
}

ul{
    list-style-type :none;
}

.circular {
    height: 200px;
    width: 150px;
    border-radius: 50%;
}
